//Created by Bli on 14-3-6.
form
	div.input-control.radio
		label
			input(type="radio", name="c1", checked)
			span.check
			与指定日期比较

	div.form-actions
		button.button.primary 进行比较
		&nbsp;
		button.button(type="button" onclick="$.Dialog.close()") Cancel

