/**
 * Created by Bli on 14-3-4.
 */
.kpi-chart-bg {
  width: 100%;

  //background-color: @grey-light;

  .kpi-title {
    line-height: 52px;

    margin-top: 0px;
    font-size: 16px !important;
    color: @black-bg;
  }

  .kpi-value {
    font-size: 25px !important;
    margin: 2px 10px;
    text-align: right;
  }

  .kpi-compare{
    font-size: 25px !important;
    margin: 2px 10px;
    text-align: left;
    color: @red;
  }

  .good-value{
    color: @green-dark;
  }

  .bad-value{
    color: @red;
  }

  .warning-value {
    color: @yellow;
  }

  .compare-mode-current-value{
    background-color: @green-dark;

    t{
      font-size: 15px;
      color: @white;
    }
  }
  .compare-mode-compare-value{
    background-color: @red;
    t{
      font-size: 15px;
      color: @white;
    }
  }
}