//Created by Bli on 14-3-4.
table.table.kpi-chart-bg
	thead
		tr
			th.text-center: t {{title}}

	tbody
		tr(ng-repeat="kpi in kpis")
			td.kpi-title(nowrap): t {{kpi.label + ": "}}
			td.kpi-value(nowrap, ng-class="{'compare-mode-current-value': kpi.compare!=null}")
				t(class='{{getStyle(kpi)}}') {{kpi.value}}
				span.kpi-unit(ng-bind-html="kpi.unit")
			td(ng-if="kpi.compare!=null").kpi-value(nowrap, ng-class="{'compare-mode-compare-value': kpi.compare!=null}")
				t(class='{{getStyle(kpi.compare)}}') {{kpi.compare}}
				span.kpi-unit(ng-bind-html="kpi.unit")

