doctype html
html(ng-app='bleach')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/metro-bootstrap.min.css')

		script(src='/js/lib/angular.js')
		script(src='/js/lib/jquery/jquery.min.js')
		script(src='/js/lib/jquery/jquery.widget.min.js')
		script(src='/js/lib/jquery/jquery.mousewheel.js')
		script(src='/js/lib/jquery/jquery.easing.min.js')
		script(src='/js/lib/metro.min.js')

		script(src='/js/client.js')

	body(class='metro')
		#left-stage.bleach-stage
			#left-stage-header.bleach-header

			#left-stage-content.bleach-content(ng-controller='leftMenuController')
				nav.sidebar.light
					ul(ng-repeat='option in menu')
						li.title: t 功能列表
						li(menu-id='{{option.id}}')
							a(href='{{option.link}}')
								i(ng-class='{{option.icon}}')
								t {{option.title}}

			//
				div.menu-header
				#left-menu.accordion(data-role='accordion')

					div.accordion-frame
						a.heading(href='#') 生产综合
						div.content: p Content1

					div.accordion-frame
						a.heading(href='#') 水量分析
						div.content: p Content2//


		#right-stage.bleach-stage
			#right-stage-header.bleach-header

			#right-stage-content.bleach-content