//Sizes
@top-bar-height : 50px;
@left-panel-width : 200px;
@title-width: 100px;
@title-search-box-width: 300px;

//Colors
@green: #1ec8a6;
@green-light: rgb(213, 250, 237);
@blue: #00B7FF;
@grey: #eee;
@grey-light: rgba(248, 248, 248,0.8);
@grey-border: #D5D5D5;
@black-bg: #343539;

//Fonts
@font: 'Microsoft Yahei';

@font-face {
  font-family: 'iconFont';
  src: url('/fonts/iconFont.eot');
  src: local('/fonts/iconFont'), local('/fonts/iconFont'), url("/fonts/iconFont.woff") format("woff"), url("/fonts/iconFont.otf") format("opentype"), url("/fonts/iconFont.svg") format("svg");
}

@import "..\src\index\index.less";
@import "..\src\top-bar\top-bar.less";
@import "..\src\left-menu\left-menu.less";
@import "..\src\router-guide\router-guide.less";
