<div id="throughput-report-view" class="bleach-view">
    <div class="bleach-filter-panel">
        <span>{{title}}</span>
    </div>
    <div class="bleach-content-panel">
        <div style="height:170px" class="dashboard-row">
            <div id="throughput-report-view-chart-parameters" class="chart-wrapper">
                <span>分析参数</span><br>
                <input type="radio" ng-model="throughputType" value="inbound">进水量<br>
                <input type="radio" ng-model="throughputType" value="outbound">出水量<br>
                <br>
                <input type="checkbox" ng-model="showMax"> 峰值基准线
                <input type="checkbox" ng-model="showMin"> 谷值基准线
            </div>
            <div id="throughput-report-view-chart-kpi-1" class="chart-wrapper">
                <kpi-chart report-id="production-throughput-kpi-outbound"
                           class="throughput-report-view-chart"></kpi-chart>
            </div>
            <div id="throughput-report-view-chart-kpi-2" class="chart-wrapper">
                <kpi-chart report-id="production-throughput-kpi-inbound"
                           class="throughput-report-view-chart"></kpi-chart>
            </div>
        </div>
        <div class="dashboard-row">
            <div id="throughput-report-view-chart-kpi-3" class="chart-wrapper">
                <chart report-id="production-throughput-kpi-detail" highstock
                       toggle-data="toggleData"
                       class="throughput-report-view-chart"></chart>
            </div>
        </div>
    </div>
</div>