#production-throughput-report-chart-0 {
  height: 100%;
  width: 100%;
}

#throughput-report-view-chart-parameters {
  width: 33%;
  height: 170px;
  font-size: 12pt;
}

#throughput-report-view-chart-kpi-1 {
  width: 33%;
  height: 170px;
}

#throughput-report-view-chart-kpi-2 {
  width: 33%;
  height: 170px;
}

#throughput-report-view-chart-kpi-3 {
  width: 100%;
  height: 400px;
}