<div id="medicine-report-view" class="bleach-view">
    <div class="bleach-filter-panel">
        <span>{{title}}</span>
    </div>
    <div class="bleach-content-panel">
        <div style="height:320px" class="dashboard-row">
            <div id="medicine-report-view-chart-kpi-1" class="chart-wrapper">
                <kpi-chart report-id="production-medicine-kpi-cl"
                           class="medicine-report-view-chart"></kpi-chart>
            </div>
            <div id="medicine-report-view-chart-kpi-2" class="chart-wrapper">
                <kpi-chart report-id="production-medicine-kpi-alun"
                           class="medicine-report-view-chart"></kpi-chart>
            </div>
            <div id="medicine-report-view-chart-kpi-3" class="chart-wrapper">
                <kpi-chart report-id="production-medicine-kpi-alkali"
                           class="medicine-report-view-chart"></kpi-chart>
            </div>
        </div>
        <div class="dashboard-row">
            <div id="medicine-report-view-chart-kpi-4" class="chart-wrapper">
                <chart report-id="production-medicine-kpi-detail" highstock
                       toggle-data="toggleData"
                       class="medicine-report-view-chart"></chart>
            </div>
        </div>
    </div>
</div>