#filterPanel{
  width: 98%;
  margin: 1%;
  height: 50px;
  background-color: @white;
  border-bottom: 2px solid @black-bg;
}

line-chart.home-view-chart{
  width: ~"calc(100% - @{left-panel-width})";
}