//Created by Bli on 14-2-21.
#home-view(ng-controller="homeViewController")
	#filterPanel
		div.bleach-datefilter.input-control.text.span3
			input(type="text")
			button.btn-date
		button.default(ng-click='query') search
	#contentPanel
		div.chart-wrapper#home-view-chart-1
			chart.home-view-chart(report-id="production-daily-inboundwater")
		div.chart-wrapper#home-view-chart-2
			chart.home-view-chart(report-id="production-daily-outboundwater")
		div.chart-wrapper#home-view-chart-5
			chart.home-view-chart(report-id="production-daily-waterconsumption")
