//Created by Bli on 14-2-21.
#home-view
	#filterPanel
		div.bleach-datefilter.input-control.text.span3.hint--bottom(data-hint="选择日期")
			input(type="text")
			button.btn-date

		div.func-button-panel
			div.btn-dataplot.hint--bottom(data-hint="数据", ng-click="toggleData($event)")
				i.icon-attachment
			popup-dialog.btn-compare.hint--bottom(data-hint="对比", dialog-style="comparison", dialog-config="comparisonDialogConfig", on-compare="enableCompare(date)", on-cancel="disableCompare()")
				i.icon-eye-2

	#contentPanel
		//div.chart-wrapper#home-view-chart-0
			kpi-chart.home-view-chart(report-id="production-daily-kpi-test")
		div.chart-wrapper#home-view-chart-1
			chart.home-view-chart(report-id="production-daily-inboundwater")
		div.chart-wrapper#home-view-chart-2
			chart.home-view-chart(report-id="production-daily-outboundwater")
		div.chart-wrapper#home-view-chart-3
			chart.home-view-chart(report-id="production-daily-electric-consumption")
		div.chart-wrapper#home-view-chart-5
			chart.home-view-chart(report-id="production-daily-waterconsumption")
