//Created by Bli on 14-2-21.
#home-view
	#filterPanel
		div.bleach-datefilter.input-control.text.span3.hint--bottom(data-hint="选择日期")
			input(type="text")
			button.btn-date

		div.func-button-panel
			div.btn-dataplot.hint--bottom.toggled(data-hint="数据", ng-click="toggleDataFun($event)")
				i.icon-attachment
			popup-dialog.btn-compare.hint--bottom(data-hint="对比", dialog-style="comparison", dialog-config="comparisonDialogConfig", on-compare="enableCompare(date)", on-cancel="disableCompare()")
				i.icon-eye-2

	#contentPanel
		div.dashboard-row(style="height:350px;")
			div.chart-wrapper#home-view-chart-medicine-pie
				chart.home-view-chart(report-id="production-daily-medicine-consumption", toggle-data="toggleData")
			div.chart-wrapper#home-view-chart-medicine-avg
				kpi-chart.home-view-chart(report-id="production-daily-kpi-medicine-avg")
				kpi-chart.home-view-chart(report-id="production-daily-kpi-medicine-total")

		div.dashboard-row
			div.chart-wrapper#home-view-chart-kpi-1
				kpi-chart.home-view-chart(report-id="production-daily-kpi-sediment")
			div.chart-wrapper#home-view-chart-kpi-2
				kpi-chart.home-view-chart(report-id="production-daily-kpi-filtered")
			div.chart-wrapper#home-view-chart-kpi-3
				kpi-chart.home-view-chart(report-id="production-daily-kpi-outbound")

		div.dashboard-row
			div.chart-wrapper#home-view-chart-1
				chart.home-view-chart(report-id="production-daily-inboundwater", toggle-data="toggleData")
			div.chart-wrapper#home-view-chart-2
				chart.home-view-chart(report-id="production-daily-outboundwater", toggle-data="toggleData")
			div.chart-wrapper#home-view-chart-3
				chart.home-view-chart(report-id="production-daily-electric-consumption", toggle-data="toggleData")

		div.dashboard-row
			div.chart-wrapper#home-view-chart-5
				chart.home-view-chart(report-id="production-daily-waterconsumption", toggle-data="toggleData")
