#home-view{
  height:100%;
}

#filterPanel{
  width: 98%;
  padding: 7px;
  margin-left: 1%;
  height: 50px;
  background-color: @white;
  border-bottom: 2px solid @black-bg;
}

#contentPanel{
  width: 100%;
  height: ~"calc(100% - @{top-bar-height})";

  overflow-x: hidden;
  overflow-y: auto;
}

.chart-wrapper{
  padding: 15px;
}

#home-view-chart-1{
  width: 33%;
  height: 300px;
}

#home-view-chart-2{
  width: 100%;
  height: 300px;
}