//Created by Bli on 14-2-21.
#home-view(ng-controller="homeViewController")
	#filterPanel
		div.bleach-datefilter.input-control.text.span3
			input(type="text", ng-model="start_date")
			button.btn-date
		button.default(ng-click='query') search
	#contentPanel
		div.chart-wrapper
			line-chart.home-view-chart(report-id="production-daily-waterconsumption")
