#monthly-report-view-chart-1, #monthly-report-view-chart-2 {
  height: 100%;
  width: 100%;
}

#monthly-report-view-chart-kpi-1, #monthly-report-view-chart-kpi-2, #production-monthly-water-io-pie {
  width: 50%;
  height: 100%;

  .table {
    margin-bottom: 27pt;
  }
}
