<div id="cost-report-view" class="bleach-view">
    <div class="bleach-filter-panel">
        <span>{{title}}</span>
    </div>
    <div class="bleach-content-panel">
        <div style="height:320px" class="dashboard-row">
            <div id="cost-report-view-chart-parameters" class="chart-wrapper">
                <span>分析参数</span>
                <input type="checkbox" ng-model="showMax"> 峰值基准线
                <input type="checkbox" ng-model="showMin"> 谷值基准线
            </div>
            <div id="cost-report-view-chart-kpi-1" class="chart-wrapper">
                <kpi-chart report-id="production-cost-kpi-manufactory-consumption"
                           class="cost-report-view-chart"></kpi-chart>
            </div>
        </div>
        <div class="dashboard-row">
            <div id="cost-report-view-chart-kpi-2" class="chart-wrapper">
                <chart report-id="production-cost-kpi-manufactory-consumption-detail" highstock toggle-data="toggleData"
                       class="cost-report-view-chart"></chart>
            </div>
        </div>
    </div>
</div>